@inherits LayoutComponentBase

<div class="fixed top-0 mx-auto flex-no-wrap w-full h-16 bg-gradient-to-r from-orange-500 via-yellow-400 to-pink-500">
    <div class="flex justify-between inset-x-0 top-0">
        <NavMenu />
    </div>
</div>

<div class="px-4 pt-24 container mx-auto">
    @Body
</div>

