@inherits LayoutComponentBase

<div class="mx-auto mb-16 relative bg-gradient-to-r from-orange-500 via-yellow-400 to-pink-500">
    <div class="pb-8 flex justify-between inset-x-0 top-0">
        <NavMenu />
    </div>
</div>

<div class="px-8 container mx-auto">
    @Body
</div>

