@page "/"
@using RentalApp.Client.Services;
@using RentalApp.Model;
@inject IConnectionService ConnectionService;


<h1>RentalApp</h1>
<hr />

<p>
    This application is meant to be a simple GUI to manage the database of the rental records. Currently no user registration is available, and only a manager account can login and use these features. "Non-crud" implementations are WIP.
    Username: Manager
    Password: Passw0rd
</p>

<PopupMessage Message="Test" />
<PopupMessage Message="Error test" Type="Error" />